mixin customForm(options)
  div(data-form-validate, data-callback="base")
    form(class='custom-form' id=`${'form ' + options.id}` method='post')
      .custom-form__inputs-wrapper
        +custom-input({
          inputType: "text",
          inputName: "theme",
          inputPlaceholder: 'ТЕМА'
        })(data-validate-type="text", data-limitation="name", data-message-base="Поле обязательно к заполнению", data-message-extra="Проверьте корректность заполнения поля", data-required).custom-form__input
        //input(type="text" name="theme" class='custom-form__input' value='' placeholder="ТЕМА")
        //input(type="text" name="email" class='custom-form__input' value=''  placeholder='ВАШ E-MAIL')
        +custom-input({
          inputType: "email",
          inputName: "email",
          inputPlaceholder: 'ВАШ E-MAIL'
        })(data-validate-type="email", data-message-base="Поле обязательно к заполнению", data-required).custom-form__input
        input.partnerId(type="hidden" name="partnerId" value="#PARTNER_ID_VALUE#")
        button.custom-form__button(type="submit") Рассчитать
      div(data-validate-type="checkbox" data-required)
        input(name="agreeament" checked=true class='custom-form__input-agreeament visibility-hidden' id=`${'agreeament ' + options.id}` type="checkbox" )
        label(for=`${options.id ? 'agreeament ' + options.id: 'agreeament'}`)  Нажимая кнопку "Узнать стоимость", вы соглашаетесь с
          =' '
          a(href="#some") политикой конфиденциальности
